.ipynb_checkpoints
.tokens
mhlw-posis.jpg
mhlw-tests.jpg
mhlw-total.jpg
tokyo.jpg
mhlw.py
tokyo.py
daily_positive_detail.json
positive_by_developed.json
positive_by_diagnosed.json
positive_rate.json
tokyo-rate.jpg
tokyo-track.jpg
